player-connection-mode=Connect
player-connection-guid=2785911608
player-connection-debug=1
player-connection-project-name=CYCLE ENGINE
player-connection-wait-timeout=-1
player-connection-ip=172.20.10.8
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=2d73ed18ee654d1f8b0f93527deffbb7
